@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.App {
    text-align: center;
}

.menuItem {
    display: block;
    padding: 0.5rem;
    font-size: 2.5rem;
    font-weight: bolder;
    color: #66a466;
    text-align: right;
    float: left;
    font-family: 'Nunito', sans-serif;
}

.menuItem:hover {
    font-size: 2.5rem;
    font-weight: bolder;
    background-color: #fff;
    padding: 0.5rem;
}

body {
    color: rgb(0, 0, 0);
}

.headerStyle {
    margin-bottom: 5rem;
    padding: 0rem 0rem 4.2rem 0rem;
    background-color: rgb(25, 24, 24);
}

.mainIcon {
    width: 2rem;
    height: 1rem;
    padding: -1px;
    margin: -1rem;
}

img,
.autogenImg {
    width: 15rem;
    height: 10rem;
    color: #000;
    border-radius: 5%;
    margin: 0.1rem;
}

h1 {
    color: #000;
}

.AboutPageStyle {
    padding: 10px;
    text-align: center;
}
/*
=======================================================================
                  CSS styles for displayed data
=======================================================================
*/

.postBox {
    padding: 1rem;
    width: auto;
    border: 0.5px solid #000;
    margin: 0.5rem 0.7rem 0rem 0rem;
    border-radius: 25px;
    text-align: left;
}

.postTitle {
    color: #000000;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
}

.postTitle a,
a {
    text-decoration: none;
}

.postAuthorStyle,
.postUpvoteStyle {
    font-size: 1rem;
}

.SearchBar {
    margin: auto;
    width: 95%;
    padding: 1.8rem;
    height: 2rem;
    font-size: 2.5rem;
    box-shadow: 0px 5px 25px rgba(129, 129, 129, 0.2);
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 500px;
    border: 4.5px solid rgba(0, 0, 0, 0.3);
}

ul,
li {
    list-style-type: none;
}
