@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.App {
    text-align: center;
}

.appIntro {
    margin: -4vw 4.2vw 0vw 4.2vw;
    text-align: justify;
    font-size: 3vw;
}

li {
    display: inline-block;
    padding: 1vw;
    font-size: 2.1vw;
    color: #66a466;
    font-style: 'Helvetica', sans-serif;
}

body {
    color: rgb(240, 248, 255);
}

.mainIcon {
    width: 20vw;
    height: 10vw;
    padding: 0px;
}

.abtPageRes {
    color: #66a466;
    text-decoration: none;
}

img,
.autogenImg {
    width: 26vw;
    height: 18vw;
    color: #000000;
}

svg {
    width: 2vw;
    height: 16vw;
}

h1 {
    color: #000000;
}

.appBuildFont {
    padding: 10px;
}
/*
=======================================================================
                  CSS styles for displayed data
=======================================================================
*/

.postBox {
    flex-direction: column;
    width: 70vw;
    /* padding: 1vw 3vw 0vw 3vw; */
    margin: 0.3vw;
    height: 40vw;
    border: 3px solid #000000;
    color: #66a466;
    /* background-color: #66a466; */
}

.postBoxProgpage {
    flex-direction: column;
    width: 70vw;
    /* padding: 1vw 3vw 0vw 3vw; */
    margin: 0.3vw;
    height: 20vw;
    border: 3px solid #000000;
}

.postTitle {
    color: #000000;
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'Nunito', sans-serif;
    font-size: 2rem;
    text-align: justify;
    white-space: normal;
    z-index: 1;
}

.postAuthorStyle {
    font-size: 1.5vw;
}

.postUpvoteStyle {
    font-size: 1.5vw;
}

.postImage {
    width: 10vw;
    height: 10vw;
    padding: 2px;
    margin: 5px;
}
